.footer {
	display: flex;
    background-color: #FFFFFF;
	justify-content: center;
	border-top: 2px solid #ccc;
	padding: 2rem 0 1.5rem;
	
    position: relative;
    top: 52px;

}

.footer-text {
	margin: 0;
	padding: 0;
}